<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}Mon site{% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous">
    </script>
</head>
<body class="container">

<div class="row">
    <header class="bg-warning">
        <h1>{{ site_name }}</h1>
        <h3>{{ pitch }}</h3>

        <div class="row">
            <div class="col-md-9">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('article_index') }}">
                            Liste des articles
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('article_new_form') }}">
                            Nouvel article
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="nav">
                    {% if app.user %}
                        <li class="nav-item">Bonjour {{ app.user.userName }}</li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">
                                déconnexion
                            </a>
                        </li>
                    {% else %}
                        <a class="nav-link" href="{{ path('app_login') }}">
                            Connexion
                        </a>
                    {% endif %}
                </ul>
            </div>
        </div>

    </header>

    <div class="col-md-12">

        {% if app.session.flashBag.has('error') %}
            <div class="alert alert-danger mt-3">
                {% for message in app.flashes('error') %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        {% if app.session.flashBag.has('success') %}
            <div class="alert alert-success mt-3">
                {% for message in app.flashes('success') %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        {% block body %}{% endblock %}
    </div>
</div>


</body>
</html>